.container{
    display: flex;
    justify-content: space-between;
}
.list li{
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 20px;
}
.start{
    float: right;
}
.stmt{
    width: 100%;
    text-align: center;
    font-size: larger;
}
.par{
    float: left;
    width: 15%;
    padding-left: 150px;

}
button{
    background-color: black;
    color:white;
}
.first{
    float: right;
    width: 70%;
    
}
#sofa{
    width: 650px;
    margin-left: 180px;
    
}
.second{
    float: left;
    width: 15%;
    padding-left: 100px;
    height: 300px;
}
#sit{
    width: 280px;
    height: 350px;
    margin-left: 50px;
    
}
.third{
    float: right;
    height: 200px; 
}
#arm{
    width: 150px;
    height: 70px;
    padding-left:230px;
    text-align: center;
    margin-left: -170%;
    margin-bottom: -30%;
}
#ro{
    margin-top:17%;
}
#office{
    margin-top: -29%;
    padding-left:300px ;
}
.fourth{
float: right;
 height:200px ;
}
#arm2{
    width:170px;
    height:70px;
    padding-left:700px;
    padding-bottom: 200px;
    margin-top: 6%;
}
.hi{
    text-align: center;
}
.info{
    text-align: center;
    justify-content: space-around; 
    display: flex;
}
#size{
    font-size: 40px;
}
.font{
    font-size: 30px;
}
.one{
    text-align: center;
    border: solid;
    background-color: gray;

}
.two{
    border: solid;
text-align: center;
margin-left: 40px;
background-color: gray;

}
.three{
    border: solid;
    text-align: center;
    margin-left: 40px;
    background-color: gray;
}
#p1{
    width: 650px;
    margin-left: 450px;

}
#p2{
    width: 500px;
    margin-left:450px;
    margin-top: -900px;
    padding-left: 230px;
    padding-top: -400px;

}
#p3{
    width: 300px;
    margin-left: 450px;
    margin-top: -900px;
    padding-left: 400px;

}
.int{
    font-size: 40px;
    text-align: center;
}
.style{
    display: flex;
    text-align: center;
}
#chair1{
    width: 20%;
    height: 10%;
    margin-left: 20%;
}
#cahir2{
    width: 20%;
    height: 30%;
    margin-left:2% ;
    
}
#chair3{
    width: 20%;
    height: 10%;
    margin-left: 2%;
}
.styling{
    display: flex;
}
#ph1{
    width: 27%;
    height: 12%;
    margin-left: 21%;
}
#ph2{
    width: 29%;
    height: 12%;
    margin-left: 2%;
}
.pictures{
    display: flex;
}
#ph3{
    width: 25%;
    height: 13%;
    margin-left: 20%;
    margin-top: -12%;
}
#ph4{
    width:20% ;
    height: 12%;
    margin-left: 5%;
    margin-top: -3%;
    
}
#view{
margin-left:50% ;
margin-top: -12%;

}
#fix{
    width: 50%;
    margin-left: 40%;
    background-color:gray;
}
#hey{
text-align: left;
font-size: 300%;
margin-bottom: -10%;
}
#back{
    background-color: aliceblue;
}
.end{
background-color: grey;
width: 60%;
height: 70vh;padding: 30px;
margin-left: 20%;
}
.click{
margin-top: -500px;
}
.footer{
    display: flex;
}
#h5{
    font: size 15px;
    margin-bottom: 6%;
}
.footer1{
    margin-left: 20%;
    margin-top: 3%;
}
.footer2{
    margin-left: 5%;
   margin-top: 5%;
}
.footer3{
    margin-left: 5%;
    margin-top: 5%;
}
.footer4{
    margin-left: 5%;
    margin-top: 5%;
}








